{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block title %}#}
{##}
{#{% endblock %}#}
{#{% block content %}#}
{#    <!-- Breadcrumb Area -->#}
{#    <div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="{% static 'assets/images/1breadcrumb-bg.jpg' %}">#}
{#        <div class="container">#}
{#            <div class="tm-breadcrumb">#}
{#                <h2>Shopping Cart</h2>#}
{#                <ul>#}
{#                    <li><a href="index.html">Home</a></li>#}
{#                    <li><a href="products.html">Shop</a></li>#}
{#                    <li>Shopping Cart</li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!--// Breadcrumb Area -->#}
{##}
{#    <!-- Shopping Cart Area -->#}
{#    <div class="tm-section shopping-cart-area bg-white tm-padding-section">#}
{#        <div class="container">#}
{##}
{#            <!-- Shopping Cart Table -->#}
{#            <div class="tm-cart-table table-responsive">#}
{#                <table class="table table-bordered mb-0">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th class="tm-cart-col-image" scope="col">Şəkil</th>#}
{#                        <th class="tm-cart-col-productname" scope="col">Məhsul</th>#}
{#                        <th class="tm-cart-col-price" scope="col">Qiymət</th>#}
{#                        <th class="tm-cart-col-quantity" scope="col">Miqdar</th>#}
{#                        <th class="tm-cart-col-total" scope="col">Cəmi</th>#}
{#                        <th class="tm-cart-col-remove" scope="col">Sil</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    <tr>#}
{#                        <td>#}
{#                            <a href="product-details.html" class="tm-cart-productimage">#}
{#                                <img src="{% static 'assets/images/products/product-image-1-thumb.jpg' %}" alt="product image">#}
{#                            </a>#}
{#                        </td>#}
{#                        <td>#}
{#                            <a href="product-details.html" class="tm-cart-productname">Stylist daimond earring</a>#}
{#                        </td>#}
{#                        <td class="tm-cart-price">75.00 ₼</td>#}
{#                        <td>#}
{#                            <div class="tm-quantitybox">#}
{#                                <input type="text" value="1">#}
{#                            </div>#}
{#                        </td>#}
{#                        <td>#}
{#                            <span class="tm-cart-totalprice">75.00 ₼</span>#}
{#                        </td>#}
{#                        <td>#}
{#                            <button class="tm-cart-removeproduct"><i class="ion-close"></i></button>#}
{#                        </td>#}
{#                    </tr>#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#            <!--// Shopping Cart Table -->#}
{##}
{#            <!-- Shopping Cart Content -->#}
{#            <div class="tm-cart-bottomarea">#}
{#                <div class="row">#}
{#                    <div class="col-lg-8 col-md-6">#}
{#                        <div class="tm-buttongroup">#}
{#                            <a href="#" class="tm-button">Alış-verişə davam edin</a>#}
{#                            <a href="#" class="tm-button">Səbəti yeniləyin</a>#}
{#                        </div>#}
{#                        <form action="#" class="tm-cart-coupon">#}
{#                            <label for="coupon-field">Kupon kodunuz var?</label>#}
{#                            <input type="text" id="coupon-field" placeholder="Kupon kodunu daxil edin"#}
{#                                   required="required">#}
{#                            <button type="submit" class="tm-button">Göndər</button>#}
{#                        </form>#}
{#                    </div>#}
{#                    <div class="col-lg-4 col-md-6">#}
{#                        <div class="tm-cart-pricebox">#}
{#                            <h2>Cart Totals</h2>#}
{#                            <div class="table-responsive">#}
{#                                <table class="table table-borderless">#}
{#                                    <tbody>#}
{#                                    <tr class="tm-cart-pricebox-subtotal">#}
{#                                        <td>Səbət arası cəmi</td>#}
{#                                        <td>175.00 ₼</td>#}
{#                                    </tr>#}
{#                                    <tr class="tm-cart-pricebox-shipping">#}
{#                                        <td>(+) Çatdırılma haqqı</td>#}
{#                                        <td>15.00 ₼</td>#}
{#                                    </tr>#}
{#                                    <tr class="tm-cart-pricebox-total">#}
{#                                        <td>Cəmi</td>#}
{#                                        <td>190.00 ₼</td>#}
{#                                    </tr>#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}
{#                            <a href="#" class="tm-button">Sifarişi rəsimləşdir</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!--// Shopping Cart Content -->#}
{##}
{#        </div>#}
{#    </div>#}
{#    <!--// Shopping Cart Area -->#}
{#{% endblock %}#}