{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ block.super }}: Səbət
{% endblock %}
{% block content %}
    <!-- Breadcrumb Area -->
    <div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="{% static 'assets/images/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="tm-breadcrumb">
                <h2>Shopping Cart</h2>
                <ul>
                    <li><a href="{% url 'shop:index' %}">Əsas səhifə</a></li>
                    <li><a href="{% url 'shop:products' %}">Məhsullar</a></li>
                    <li>Səbət</li>
                </ul>
            </div>
        </div>
    </div>
    <!--// Breadcrumb Area -->

    <!-- Shopping Cart Area -->
    <div class="tm-section shopping-cart-area bg-white tm-padding-section">
        <div class="container">
        <div class="tm-checkout-coupon">
                <a href="#checkout-couponform" data-toggle="collapse"><span>Kupon kodunuz var?</span> Bura klikləyin və kodunuzu daxil edin.</a>
                <div id="checkout-couponform" class="collapse">
                <form action="{% url 'coupons:apply' %}" class="tm-checkout-couponform" method="post">
                    {% csrf_token %}

                    {% if request.session.coupon_id %}
                        <!-- Если купон применён -->
                        <input type="text" value="{{ applied_coupon.code }}" readonly>
                        <button type="submit" class="tm-button" name="action" value="remove">Ləğv edin</button>
                    {% else %}
                        <!-- Если купон не применён -->
                        {{ coupon_apply_form }}
                        <button type="submit" class="tm-button" name="action" value="apply">Təstiq edin</button>
                    {% endif %}
                </form>
                </div>
            </div>
            <!-- Shopping Cart Table -->
            <div class="tm-cart-table table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                    <tr>
                        <th class="tm-cart-col-image" scope="col">Şəkil</th>
                        <th class="tm-cart-col-productname" scope="col">Məhsul</th>
                        <th class="tm-cart-col-price" scope="col">Qiymət</th>
                        <th class="tm-cart-col-quantity" scope="col">Miqdar</th>
                        <th class="tm-cart-col-total" scope="col">Cəmi</th>
                        <th class="tm-cart-col-remove" scope="col">Sil</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart %}
                    	{% with product=item.product %}
                    		<tr>
                            <!-- Изображение товара -->
                            <td>
                                <a href="{{ product.get_absolute_url }}" class="tm-cart-productimage">
                                    <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                                </a>
                            </td>
                            <!-- Название товара -->
                            <td>
                                <a href="{{ product.get_absolute_url }}" class="tm-cart-productname">{{ product.name }}</a>
                                {% if item.weight_option %}
                                    <p class="text-muted">
                                        Çəki: {{ item.weight_option.weight }} q (+{{ item.weight_option.price_modifier }} ₼)
                                    </p>
                                {% endif %}
                            </td>
                                    <!-- Цена за единицу -->
                            <td class="tm-cart-price">
                                {{ item.price }} ₼
                            </td>
                            <td>
                                <div >
                                    <form class="d-flex justify-content-center" action="{% url 'cart:cart_add' product.id %}" method="post">
                                        {% csrf_token %}
                                        <!-- Поле количества -->
                                        {{ item.update_quantity_form.quantity }}
                                        {{ item.update_quantity_form.override }}

                                        <!-- Поле для передачи выбранного веса -->
                                        {% if item.weight_option %}
                                            <input type="hidden" name="weight_option" value="{{ item.weight_option.id }}">
                                        {% endif %}
                                    <div>
                                        <button type="submit" class="btn btn-sm btn-secondary counter">Yenilə</button>
                                        </div>
                                    </form>
                                </div>
                            </td>

                        <!-- Общая стоимость -->
                        <td>
                            <span class="tm-cart-totalprice">{{ item.total_price }} ₼</span>
                        </td>
                        <!-- Удаление товара -->
                        <td>
                            <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                {% csrf_token %}
                                {% if item.weight_option %}
                                    <input type="hidden" name="weight_option" value="{{ item.weight_option.id }}">
                                {% endif %}
                                <button type="submit" class="tm-cart-removeproduct">
                                    <i class="ion-close"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    	{% endwith %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--// Shopping Cart Table -->

            <!-- Shopping Cart Content -->
            <div class="tm-cart-bottomarea">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="tm-buttongroup d-flex">
                            <a href="#" class="tm-button">Alış-verişə davam edin</a>
                            <form method="post" action="{% url 'cart:cart_clear' %}">
                            {% csrf_token %}
                            <button type="submit" class="tm-button tm-button-dark">Səbəti təmizlə</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="tm-cart-pricebox">
                            <h2>Səbət Cəmi</h2>
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <tbody>
                                    {% if cart.coupon %}
                                    <tr class="tm-cart-pricebox-subtotal">
                                        <td>Səbət arası cəmi</td>
                                        <td>{{ cart.get_total_price|floatformat:2 }} ₼</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Kupon endirimi: <strong><span class="text-success">"{{ cart.coupon.code }}" {{ cart.coupon.discount }} %</span></strong>
                                        </td>
                                        <td>
                                            – {{ cart.get_discount|floatformat:2 }} ₼
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <td>
                                            Mağaza endirim:
                                        </td>
                                        <td>
                                            - {{ total_discount }} ₼
                                        </td>
                                    </tr>

                                    <tr class="tm-cart-pricebox-shipping">
                                        <td>(+) Çatdırılma haqqı</td>
                                        <td>15.00 ₼</td>
                                    </tr>
                                    <tr class="tm-cart-pricebox-total">
                                        <td>Cəmi</td>
                                        <td>{{ cart.get_total_price_after_discount|floatformat:2 }} ₼</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="{% url 'orders:order_create' %}" class="tm-button">Sifarişi rəsimləşdir</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Shopping Cart Content -->

        </div>
    </div>
    <!--// Shopping Cart Area -->
{% endblock %}