# Исключаем файлы виртуального окружения
*.pyc
*.pyo
__pycache__/

# Логи
*.log
logs/
debug.log

# Исключаем локальные настройки среды разработки
.env
.env.*

# Исключаем IDE и редакторы
.idea/
.vscode/
*.swp

# Исключаем статические и медиафайлы (если они уже собраны)
staticfiles/
media/

# Игнорируем Node.js-зависимости (если используем)
node_modules/

# Исключаем временные файлы
*.bak
*.tmp
*.old

# Игнорируем папки сборки, которые не нужны в контейнере
dist/
build/
