{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ block.super }}: Sifariş tamamlandı
{% endblock %}
{% block content %}
    <!-- Created -->
    <div class="tm-section tm-checkout-area bg-white tm-padding-section">
        <div class="container">
            <h3>Sifarişiniz üçün təşəkkür edirik!</h3>
            <div class="d-flex align-items-center">
            <span><i style="font-size: 1.5rem" class="ion-android-alert"></i> Zəhmət olmasa ödəniş qəbzini və FİN kodunuzu <strong class="text-success">WhatsApp</strong> nömrəmizə (070 367 88 73) yönləndirin.</span>
            </div>
        </div>
    </div>
    <!--// Created -->
{% endblock %}