{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
    {{ block.super }}: Sifariş
{% endblock %}
{% block content %}
    <!-- Breadcrumb Area -->
    <div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="{% static 'assets/images/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="tm-breadcrumb">
                <h2>Sifarişiniz</h2>
                <ul>
                    <li><a href="{% url 'shop:index' %}">Əsas səhifə</a></li>
                    <li><a href="{% url 'account:profile' %}">Sifrişlər</a></li>
                    <li>Sifarişiniz</li>
                </ul>
            </div>
        </div>
    </div>
    <!--// Breadcrumb Area -->
    <div class="tm-section tm-checkout-area bg-white tm-padding-section">
        <div class="container">
                        <table class="table table-bordered mb-0 text-center">
                            <thead>
                            <tr>
                                <th class="tm-myaccount-orders-col-id">Məhsul</th>
                                <th class="tm-myaccount-orders-col-id">Çəki</th>
                                <th class="tm-myaccount-orders-col-id">Məbləğ</th>
                                <th class="tm-myaccount-orders-col-id">Miqdar</th>
                                <th class="tm-myaccount-orders-col-id">Cəm məbləğ</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in order_items %}
                                <tr>
                                    <td>
                                    {% with item.product.images.all|first as image %}
                                        {% if image %}
                                            <img src="{{ image.image.url }}" alt="{{ item.product.name }}" width="50">
                                        {% else %}
                                            <span>Şəkil yoxdur</span>
                                        {% endif %}
                                    {% endwith %}
                                        <a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a>
                                    </td>
                                    <td>
                                        {% if item.weight_option %}
                                            {{ item.weight_option.weight }} q
                                        {% else %}
                                            Çəki seçilməyib
                                        {% endif %}
                                    </td>
                                    <td>{{ item.price }} ₼</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.quantity|multiply:item.price }} ₼</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <h3 class="mt-3 text-secondary">Cəmi məbləğ: {{ total_price }} ₼</h3>
        </div>
    </div>
{% endblock %}