{% extends 'base.html' %}
{% block title %}
    {{ block.super }}: Şifrənin bərpası
{% endblock %}
{% block content %}
    <!-- Login Register Area -->
    <div class="tm-section tm-login-register-area bg-white tm-padding-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                <form method="POST" class="needs-validation" novalidate="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                            <div class="tm-form-field">
                                <button type="submit" class="tm-button">Şifrəni bərpa edin</button>
                            </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <!--// Login Register Area -->
{% endblock %}


