{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ block.super }}: Uğurlu əməliyyat!
{% endblock %}
{% block content %}
    <div class="tm-section tm-login-register-area bg-white tm-padding-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="mt-3 text-center">Şifrəniz uğurla bərpa olundu</h1>
                    <h4 class="text-center"><a href="{% url 'account:login' %}">Daxil olun</a></h4>

                </div>
            </div>
        </div>
    </div>
{% endblock %}


