{% extends 'base.html' %}
{% load static %}
{% block title %}
    Profiliniz
{% endblock %}
{% block content %}
    <!-- Breadcrumb Area -->
    <div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="assets/images/breadcrumb-bg.jpg">
        <div class="container">
            <div class="tm-breadcrumb">
                <h2>Hesabınız</h2>
                <ul>
                    <li><a href="index.html">Əsas səhifə</a></li>
                    <li>Hesabım</li>
                </ul>
            </div>
        </div>
    </div>
    <!--// Breadcrumb Area -->
    <!-- My Account Area -->
    <div class="tm-section tm-my-account-area bg-white tm-padding-section">
        <div class="container">
            <div class="tm-myaccount">
                <ul class="nav tm-tabgroup" id="account" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="account-dashboard-tab" data-toggle="tab"
                           href="#account-dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true">İdarə
                            etmə paneli</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-orders-tab" data-toggle="tab" href="#account-orders"
                           role="tab" aria-controls="account-orders" aria-selected="false">Sifarişlər</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-address-tab" data-toggle="tab" href="#account-address"
                           role="tab" aria-controls="account-address" aria-selected="false">Ünvan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-acdetails-tab" data-toggle="tab"
                           href="#account-acdetails" role="tab" aria-controls="account-acdetails"
                           aria-selected="false">Hesab Təfərrüatları</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-logout-tab" href="{% url 'account:logout' %}" role="tab"
                           aria-controls="account-address" aria-selected="false">Çıxış</a>
                    </li>
                </ul>

                <div class="tab-content" id="account-ontent">
                    <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel"
                         aria-labelledby="account-dashboard-tab">
                        <div class="tm-myaccount-dashboard">
                            <p>Salam <b>{{ user.first_name }} {{ user.last_name }}</b></p>
                            <p>Hesabınızın idarə panelindən son sifarişlərinizə baxa, göndərmə və faktura ünvanlarınızı
                                idarə edə, parol və hesab məlumatlarınızı redaktə edə bilərsiniz.</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-orders" role="tabpanel"
                         aria-labelledby="account-orders-tab">
                        <div class="tm-myaccount-orders">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0">
                                    <thead>
                                    <tr>
                                        <th class="tm-myaccount-orders-col-id">SİFARİŞ ID</th>
                                        <th class="tm-myaccount-orders-col-date">TARİX</th>
                                        <th class="tm-myaccount-orders-col-status">STATUS</th>
                                        <th class="tm-myaccount-orders-col-total">ÜMUMİ</th>
                                        <th class="tm-myaccount-orders-col-total">ÖDƏNİLİB</th>
                                        <th class="tm-myaccount-orders-col-view">BAXIN</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td>RG-{{ order.id }}</td>
                                        <td>{{ order.created_at|date:"d-m-Y H:i" }}</td>
                                        <td>{{ order.get_status_display  }}</td>
                                        <td>{{ order.get_total }} ₼ {{ order.quantity }}</td>
                                        {% if order.paid %}
                                        <td class="text-success"><strong>Bəli</strong></td>
                                            {% else %}
                                        <td class="text-danger"><strong>Xeir</strong></td>
                                        {% endif %}
                                        <td><a href="{% url 'orders:order_detail' order.id %}" class="tm-button tm-button-small">Baxın</a></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-address" role="tabpanel"
                         aria-labelledby="account-address-tab">
                        <div class="tm-myaccount-address">
                            <p><b>Aşağıdakı ünvan ödəniş səhifəsində standart olaraq istifadə olunacaq.</b></p>
                            <div class="row">
                                <div class="col-lg-12 col-md-6 mt-30 mt-md-0">
                                    <div class="tm-myaccount-address-shipping">
                                        <h3>Çatdırılma Ünvanı</h3>
                                        <address>
                                            Ölkə: {{ user.country }}
                                            <br>
                                            Şəhər: {{ user.city }}
                                            <br>
                                            Ünvan: {{ user.address }}
                                            <br>
                                            Poçt kodu: {{ user.postal_code }}
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-acdetails" role="tabpanel"
                         aria-labelledby="account-acdetails-tab">
                        <div class="tm-myaccount-acdetails">
                            <form class="tm-form tm-form-bordered" method="post">
                                {% csrf_token %}
                                <h4>Hesab Təfərrüatları</h4>
                                <div class="tm-form-inner">
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="{{ form.first_name.id_for_label }}">Ad</label>
                                        {{ form.first_name }}
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="{{ form.first_name.id_for_label }}">Soyad</label>
                                        {{ form.last_name }}
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="{{ form.fin_code.id_for_label }}">Fin kod</label>
                                        {{ form.fin_code }}
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="{{ form.email.id_for_label }}">E-poçt</label>
                                        {{ form.email }}
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="{{ form.country.id_for_label }}">Ölkə</label>
                                        {{ form.country }}
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="{{ form.city.id_for_label }}">Şəhər</label>
                                        {{ form.city }}
                                    </div>
                                    <div class="tm-form-field">
                                        <label for="{{ form.address.id_for_label }}">Ünvan</label>
                                        {{ form.address }}
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="{{ form.postal_code.id_for_label }}">Poçt kodu</label>
                                        {{ form.postal_code }}
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="{{ form.phone_number.id_for_label }}">Telefon</label>
                                        {{ form.phone_number }}
                                    </div>
                                    <div class="tm-form-field">
                                        <label for="{{ form.old_password.id_for_label }}">Cari şifrə</label>
                                        {{ form.old_password }}
                                    </div>
                                    <div class="tm-form-field">
                                        <label for="{{ form.new_password.id_for_label }}">Yeni şifrə</label>
                                        {{ form.new_password }}
                                    </div>
                                    <div class="tm-form-field">
                                        <label for="{{ form.confirm_password.id_for_label }}">Şifrəni
                                            təsdiqləyin</label>
                                        {{ form.confirm_password }}
                                    </div>
                                    <div class="tm-form-field">
                                        <input type="checkbox" name="acdetails-agreeterms"
                                               id="acdetails-agreeterms">
                                        <label for="acdetails-agreeterms">Mən Məxfilik Siyasətini oxudum və
                                            razıyam</label>
                                    </div>
                                    <div class="tm-form-field">
                                        <button type="submit" class="tm-button">Dəyişiklikləri Saxla</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// My Account Area -->

{% endblock %}