{% load static %}
<!DOCTYPE html>
<html lang="az">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}RJ{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" href="{% static 'assets/images/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- CSS FILES HERE -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/vendors/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/meanmenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendors/jquery.nstSlider.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <!-- endinject -->
</head>

<body>
{% include 'inc/_message.html' %}
    <!-- Preloader -->
    <div class="tm-preloader">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="tm-preloader-logo">
                        <img src="{% static 'assets/images/Logo.svg' %}" alt="logo">
                    </div>
                    <span class="tm-preloader-progress"></span>
                </div>
            </div>
        </div>
        <button class="tm-button tm-button-small">Cancel Preloader</button>
    </div>
    <!--// Preloader -->

    <!-- Wrapper -->
    <div id="wrapper" class="wrapper">

        <!-- Header -->
        {% include 'inc/_header.html' %}
        <!--// Header -->



        <!-- Page Content -->
        <main class="page-content">
            {% block content %}{% endblock %}
        </main>
        <!--// Page Content -->

        <!-- Footer -->
        {% include 'inc/_footer.html' %}
        <!--// Footer -->


        <button id="back-top-top"><i class="ion-arrow-up-c"></i></button>
    {% include 'inc/_cookie_consent.html' %}

    </div>
    <!--// Wrapper -->

    <!-- JS FILES HERE -->
    <!-- inject:js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

    <script src="{% static 'assets/js/vendors/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/modernizr-3.7.1.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/jquery.meanmenu.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/jquery.nice-select.js' %}"></script>
    <script src="{% static 'assets/js/vendors/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/instafeed.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/jquery.nstslider.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/ScrollMagic.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/main/main.js' %}"></script>
    <!-- endinject -->

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toastMessages = document.querySelectorAll('.toast-message');
            toastMessages.forEach((toast) => {
                setTimeout(() => {
                    toast.style.transition = 'opacity 0.5s ease-out';
                    toast.style.opacity = '0';
                    setTimeout(() => toast.remove(), 500); // Удаляем элемент после завершения анимации
                }, 5000); // 5 секунд задержка перед скрытием
            });
        });
    </script>
</body>

</html>