{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% block title %}{{ block.super }}: Əsas səhifə{% endblock %}

{% block content %}
    <!-- Heroslider Area -->
    {% include 'inc/_slider.html' %}
    <!--// Heroslider Area -->

    <!-- Features Area -->
    {% include 'inc/_features.html' %}
    <!--// Features Area -->


    <!-- Popular Products Area -->
    <div id="tm-popular-products-area" class="tm-section tm-popular-products-area tm-padding-section bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-12">
                    <div class="tm-sectiontitle text-center">
                        <h3>ƏN ÇOX SATILANLAR</h3>
                        <p>Populyar məhsullarımız o qədər gözəldir ki, alıcılar onları asanlıqla cəlb edir.</p>
                    </div>
                </div>
            </div>

            <div class="row tm-products-slider">

                <!-- Single Product 8 Eded -->

                {% for popular_product in popular_products %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="tm-product tm-scrollanim">
                            <div class="tm-product-topside">
                                <div class="tm-product-images">
                                    {% for image in popular_product.images.all %}
                                        <img src="{{ image.image.url }}"
                                             alt="{{ image.alt_text|default:'product image' }}">
                                    {% endfor %}
                                </div>
                                <ul class="tm-product-actions">
                                    <li>
                                        <form method="post" action="{% url 'cart:cart_add' popular_product.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="quantity" value="1">
                                            {% if popular_product.is_in_stock < 1 %}

                                                <button type="submit" disabled class="btn btn-secondary">
                                                    <i class="ion-android-cart"></i> Səbətə at
                                                </button>
                                            {% else %}
                                                <button type="submit" class="tm-button ">
                                                    <i class="ion-android-cart"></i> Səbətə at
                                                </button>
                                            {% endif %}
                                        </form>
                                    </li>
                                    <li>
                                        <form method="post" action="{% url 'wishlist:add_wish' popular_product.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="quantity" value="1">
                                            <button type="submit" class="tm-button ">
                                                <i class="ion-heart"></i></button>
                                        </form>
                                    </li>
                                </ul>

                                {% if popular_product.is_in_stock < 1 %}
                                    <div class="tm-product-badges">
                                        <span class="tm-product-badges-soldout">Tükənib</span>
                                    </div>
                                {% endif %}

                                <div class="tm-product-badges">
                                    {% if popular_product.is_new %}
                                        <span class="tm-product-badges-new">Yeni</span>
                                    {% endif %}
                                    {% if popular_product.discount > 0 %}
                                        <span class="tm-product-badges-sale">- {{ popular_product.discount|floatformat:0 }} %</span>
                                    {% endif %}
                                </div>

                            </div>

                            <div class="tm-product-bottomside">
                                <h6 class="tm-product-title">
                                    <a href="{{ popular_product.get_absolute_url }}">{{ popular_product.name }}</a>
                                </h6>
                                <div class="tm-ratingbox">
                                    {% for i in "12345"|slice:":" %}
                                        <span class="{% if i <= popular_product.average_rating|floatformat:0 %}is-active{% endif %}">
                                            <i class="ion-android-star-outline"></i>
                                        </span>
                                    {% endfor %}
                                </div>
                                {% if popular_product.discount > 0 %}
                                    <span class="old-price">{{ popular_product.price|floatformat:2 }} ₼</span>
                                    <span class="tm-product-price">{{ popular_product.discounted_price|floatformat:2 }} ₼</span>
                                {% else %}
                                    <span class="tm-product-price">{{ popular_product.price|floatformat:2 }} ₼</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <!--// Single Product -->

            </div>
        </div>
    </div>
    <!--// Popular Products Area -->


    <!-- NEW ARRIVAL PRODUCTS -->
    <div id="tm-latest-products-area" class="tm-section tm-latest-products-area tm-padding-section bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-12">
                    <div class="tm-sectiontitle text-center">
                        <h3>YENİ MƏHSULLAR</h3>
                        <p>Populyar məhsullarımız o qədər gözəldir ki, alıcılar onları asanlıqla cəlb edir.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-50-reverse">
                <!-- Single Product 8 eded -->
                {% for new_product in new_products %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt-50">
                        <div class="tm-product tm-scrollanim">
                            <div class="tm-product-topside">

                                <div class="tm-product-images">
                                    {% for image in new_product.images.all %}
                                        <img src="{{ image.image.url }}" alt="{{ image.alt_text|default:'product image' }}">
                                    {% endfor %}
                                </div>

{#                                {% if new_product.weight_options.exists %}#}
{#                                    <div class="tm-product-weight" data-tooltip="Çəki seçimləri mövcuddur">#}
{#                                        <i class="ion-ios-albums"></i>#}
{#                                    </div>#}
{#                                {% endif %}#}

                                <ul class="tm-product-actions">
                                    <li>
                                        <form method="post" action="{% url 'cart:cart_add' new_product.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="quantity" value="1">
                                            {% if new_product.is_in_stock < 1 %}
                                                <button type="submit" disabled class="btn btn-secondary">
                                                    <i class="ion-android-cart"></i> Səbətə at
                                                </button>
                                            {% else %}
                                                <button type="submit" class="tm-button ">
                                                    <i class="ion-android-cart"></i> Səbətə at
                                                </button>
                                            {% endif %}
                                        </form>
                                    </li>
                                    <li>
                                        <form method="post" action="{% url 'wishlist:add_wish' new_product.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="quantity" value="1">
                                            <button type="submit" class="tm-button ">
                                                <i class="ion-heart"></i></button>
                                        </form>
                                    </li>
                                </ul>

                                {% if new_product.is_in_stock < 1 %}
                                    <div class="tm-product-badges">
                                        <span class="tm-product-badges-soldout">Tükənib</span>
                                    </div>
                                {% endif %}

                                <div class="tm-product-badges">
                                    {% if new_product.is_new %}
                                        <span class="tm-product-badges-new">Yeni</span>
                                    {% endif %}
                                    {% if new_product.discount > 0 %}
                                        <span class="tm-product-badges-sale">- {{ new_product.discount|floatformat:0 }} %</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="tm-product-bottomside">
                                <h6 class="tm-product-title">
                                    <a href="{{ new_product.get_absolute_url }}">{{ new_product.name }}</a>
                                </h6>
                                <div class="tm-ratingbox">
                                    {% for i in "12345"|slice:":" %}
                                        <span class="{% if i <= new_product.average_rating|floatformat:0 %}is-active{% endif %}">
                                            <i class="ion-android-star-outline"></i>
                                        </span>
                                    {% endfor %}
                                </div>
                                {% if new_product.discount > 0 %}
                                    <span class="old-price">{{ new_product.price|floatformat:2 }} ₼</span>
                                    <span class="tm-product-price">{{ new_product.discounted_price|floatformat:2 }} ₼</span>
                                {% else %}
                                    <span class="tm-product-price">{{ new_product.price|floatformat:2 }} ₼</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!--// Single Product -->
            </div>
            <div class="tm-product-loadmore text-center mt-50">
                <a href="{% url 'shop:products' %}" class="tm-button">Bütün Məhsullar</a>
            </div>
        </div>
    </div>
    <!--// NEW ARRIVAL PRODUCTS -->

    <!-- Offer Area -->
    <div class="tm-section tm-offer-area tm-padding-section bg-grey">
        <div class="container">
            <div class="row align-items-center">
                {% cache 604800 super_sales %}
                {% for super_sale in super_sales %}
                    <div class="col-lg-6 col-12 order-2 order-lg-1">
                        <div class="tm-offer-content">
                            <h6>Ayın super endirimi</h6>
                            <h1>{{ super_sale.title|safe }}</h1>
                            <div class="tm-countdown" data-countdown="{{ super_sale.sale_date|date:'Y/m/d' }}"></div>
                            <a href="{{ super_sale.product.get_absolute_url }}" class="tm-button">İndi alın</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 order-1 order-lg-2">
                        <div class="tm-offer-image">
                            <img class="tm-offer" src="{% static 'assets/images/offer-image-1.png' %}"
                                 alt="offer image">
                        </div>
                    </div>
                {% endfor %}
            {% endcache %}
            </div>
        </div>
    </div>
    <!--// Offer Area -->

    <!-- Brand Logos -->
    <div class="tm-section tm-brandlogo-area tm-padding-section bg-grey">
        <div class="container">
            <div class="row tm-brandlogo-slider">
                <!-- Brang Logo Single -->
                {% cache 43200 partners %}
                {% for partner in partners %}
                    <div class="col-12 tm-brandlogo">
                        <a href="{{ partner.url }}" target="_blank">
                            <img src="{{ partner.image.url }}" alt="brand-logo">
                        </a>
                    </div>
                {% endfor %}
                {% endcache %}
                <!--// Brang Logo Single -->
            </div>
        </div>
    </div>
    <!--// Brand Logos -->

{% endblock %}