{% extends 'base.html' %}
{% load static %}
{% block title %}{{ block.super }}: {{ product.name }}{% endblock %}
{% block content %}
    <!-- Breadcrumb Area -->
    <div class="tm-breadcrumb-area tm-padding-section bg-grey"
         data-bgimage="{% static 'assets/images/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="tm-breadcrumb">
                <h2>Product Details</h2>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li>Stylist daimond ring</li>
                </ul>
            </div>
        </div>
    </div>
    <!--// Breadcrumb Area -->
    <!-- Product Details Wrapper -->
    <div class="tm-product-details-area tm-section tm-padding-section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Product Details -->
                    <div class="tm-prodetails">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-sm-10 col-12">
                                <div class="tm-prodetails-images">

                                    <div class="tm-prodetails-largeimages">
                                        {% for image in images %}
                                            <div class="tm-prodetails-largeimage">
                                                <a data-fancybox="tm-prodetails-imagegallery"
                                                   href="{{ image.image.url }}" data-caption="{{ image.product.name }}">
                                                    <img src="{{ image.image.url }}" alt="{{ image.product.name }}">
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <!-- Отдельное видео -->
                                    {% if video %}
                                        <div id="draggable-video" class="video-container">
                                            <video id="video-element" controls muted autoplay loop playsinline>
                                                <source src="{{ video.url }}" type="video/mp4">
                                                Ваш браузер не поддерживает тег video.
                                            </video>
                                        </div>

                                    {% endif %}

                                    <div class="tm-prodetails-thumbnails">
                                        {% for image in images %}
                                            <div class="tm-prodetails-thumbnail">
                                                <img src="{{ image.image.url }}" alt="{{ image.product.name }}">
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-7 col-md-6 col-12">
                                <div class="tm-prodetails-content">
                                    <h4 class="tm-prodetails-title">{{ product.name }}</h4>
                                    <span class="tm-prodetails-price">
                                            {% if product.discount > 0 %}
                                                <del id="originalPrice"
                                                     data-base-price="{{ product.price }}">{{ product.price }}₼</del>
                                                <span id="finalPrice"
                                                      data-discounted-price="{{ product.discounted_price }}">{{ product.discounted_price }}₼</span>
                                            {% else %}
                                                <span id="originalPrice" data-base-price="{{ product.price }}"></span>
                                                <span id="finalPrice">{{ product.price }}₼</span>
                                            {% endif %}
                                        </span>

                                    <div class="tm-ratingbox">
                                        {% for i in "12345"|slice:":" %}
                                            <span class="{% if i <= product.average_rating|floatformat:0 %}is-active{% endif %}">
                                            <i class="ion-android-star-outline"></i>
                                        </span>
                                        {% endfor %}
                                    </div>

                                    <div class="tm-prodetails-infos">
                                        <div class="tm-prodetails-singleinfo">
                                            <b>Məhsul kodu : </b>{{ product.article }}
                                        </div>
                                        <div class="tm-prodetails-singleinfo">
                                            <b>Kateqoriya : </b>
                                            <a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a>
                                        </div>
{#                                        <div class="tm-prodetails-singleinfo tm-prodetails-tags">#}
{#                                            <b>Tags : </b>#}
{#                                            <ul>#}
{#                                                <li><a href="#">bracelets</a></li>#}
{#                                                <li><a href="#">diamond</a></li>#}
{#                                                <li><a href="#">ring</a></li>#}
{#                                                <li><a href="#">necklaces</a></li>#}
{#                                            </ul>#}
{#                                        </div>#}
                                        <div class="tm-prodetails-singleinfo">
                                            <b>Əlçatan : </b>
                                            <span class="color-theme">
                                                {% if product.is_in_stock %}
                                                    Stokda var
                                                {% else %}
                                                    <span class="text-danger">Stokda yoxdur</span>
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="tm-prodetails-singleinfo tm-prodetails-share mb-2">
                                            <b>Paylaşın : </b>
                                            <ul>
                                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <form method="post" action="{% url 'cart:cart_add' product.id %}">
                                        {% csrf_token %}
                                        <div class="tm-prodetails-options">
                                            <label for="weightOptions">Çəki seçin:</label>
                                            <select id="weightOptions" name="weight_option">
                                                <option value="">Çəki seçin</option>
                                                {% for option in weight_options %}
                                                    <option value="{{ option.id }}"
                                                            data-price-modifier="{{ option.price_modifier }}">
                                                        {{ option.weight }} q - {{ option.carat }} K
                                                        (+{{ option.price_modifier }} ₼)
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="tm-prodetails-quantitycart">
                                            <h6>Miqdar:</h6>
                                            <div class="tm-quantitybox">
                                                <input type="number" name="quantity" id="quantity" value="1" min="1" required>
                                            </div>
                                            <input type="hidden" name="override" value="False">
                                            {% if product.is_in_stock < 1 %}
                                                <button type="submit" disabled class="btn btn-secondary">
                                                    <i class="ion-android-cart"></i> Səbətə at
                                                </button>
                                            {% else %}
                                                <button type="submit" class="tm-button ">
                                                    <i class="ion-android-cart"></i> Səbətə at
                                                </button>
                                            {% endif %}
                                        </div>
                                    </form>
                                    {{ product.description|safe  }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// Product Details -->


                    <!-- Product Details Description & Review -->
                    <div class="tm-prodetails-desreview tm-padding-section-sm-top">
                        <ul class="nav tm-tabgroup2" id="prodetails" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="prodetails-area1-tab" data-toggle="tab"
                                   href="#prodetails-area1" role="tab" aria-controls="prodetails-area1"
                                   aria-selected="true">Təsvir</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="prodetails-area2-tab" data-toggle="tab"
                                   href="#prodetails-area2" role="tab" aria-controls="prodetails-area2"
                                   aria-selected="false">Rəylər ({{ comments_count }})</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="prodetails-content">
                            <div class="tab-pane fade show active" id="prodetails-area1" role="tabpanel"
                                 aria-labelledby="prodetails-area1-tab">
                                <div class="tm-prodetails-description">
                                    <h4>Məhsul təsviri</h4>
                                    <p>{{ product.description|safe }}</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="prodetails-area2" role="tabpanel"
                                 aria-labelledby="prodetails-area2-tab">
                                <div class="tm-prodetails-review">
                                    <h5>1 Review For Stylist daimond ring</h5>
                                    <div class="tm-comment-wrapper mb-50">
                                        <!-- Comment Single -->
                                        {% for comment in comments %}
                                            <div class="tm-comment">
                                                <div class="tm-comment-thumb avatar-comment">
                                                    <span>{{ comment.first_name|slice:1 }}. {{ comment.last_name|slice:1 }}.</span>
                                                </div>
                                                <div class="tm-comment-content">
                                                    <h6 class="tm-comment-authorname">
                                                        <a href="#">{{ comment.first_name }} {{ comment.last_name }}</a>
                                                    </h6>
                                                    <span class="tm-comment-date">{{ comment.create_at|date:'d.m.Y' }} </span>
                                                    <div class="tm-ratingbox">
                                                        {% for i in "12345"|make_list %}
                                                            <span class="{% if forloop.counter <= comment.rating %}is-active{% endif %}">
                                                                <i class="ion-android-star-outline"></i>
                                                            </span>
                                                        {% endfor %}
                                                    </div>

                                                    <p>{{ comment.text }}</p>

                                                </div>
                                            </div>
                                        {% endfor %}
                                        <!--// Comment Single -->
                                    </div>

                                    <h5>Rəy yazın</h5>
                                    <form class="tm-form" method="post">
                                        {% csrf_token %}
                                        <div class="tm-form-inner">

                                            <div class="tm-form-field">
                                                <!-- Поле рейтинга со звездами -->
                                                <div class="tm-ratingbox tm-ratingbox-input">
                                                    <span class="star">&#9733;</span>
                                                    <span class="star">&#9733;</span>
                                                    <span class="star">&#9733;</span>
                                                    <span class="star">&#9733;</span>
                                                    <span class="star">&#9733;</span>
                                                </div>
                                                <input type="hidden" name="rating" value="0">
                                                <!-- Значение по умолчанию -->
                                            </div>
                                            <!-- Поле имени -->
                                            <div class="tm-form-field tm-form-fieldhalf">
                                                <label for="{{ comment_form.first_name.id_for_label }}">Ad</label>
                                                {{ comment_form.first_name }}
                                            </div>

                                            <!-- Поле фамилии -->
                                            <div class="tm-form-field tm-form-fieldhalf">
                                                <label for="{{ comment_form.last_name.id_for_label }}">Soyad</label>
                                                {{ comment_form.last_name }}
                                            </div>

                                            <!-- Поле текста комментария -->
                                            <div class="tm-form-field">
                                                <label for="{{ comment_form.text.id_for_label }}">Rəy yazın</label>
                                                {{ comment_form.text }}
                                            </div>


                                            <!-- Кнопка отправки -->
                                            <div class="tm-form-field">
                                                <button type="submit" class="tm-button">Göndərin</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// Product Details Description & Review -->


                    <!-- Similliar Products -->
                    <div class="tm-similliar-products tm-padding-section-sm-top">
                        <h4 class="small-title">Oxşar Məhsullar</h4>
                        <div class="row tm-products-slider3">

                            <!--// Single Product -->
                            {% for related_product in related_products %}
                            <div class="col-12">
                                <div class="tm-product tm-scrollanim">
                                    <div class="tm-product-topside">
                                        <div class="tm-product-images">
                                            {% for image in related_product.images.all %}
                                                <img src="{{ image.image.url }}"
                                                     alt="{{ image.alt_text|default:'product image' }}">
                                            {% endfor %}
                                        </div>
                                        <ul class="tm-product-actions">
                                            <li>
                                                <form method="post" action="{% url 'cart:cart_add' related_product.id %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="quantity" value="1">
                                                    {% if related_product.is_in_stock < 1 %}
                                                        <button type="submit" disabled class="btn btn-secondary">
                                                            <i class="ion-android-cart"></i> Səbətə at
                                                        </button>
                                                    {% else %}
                                                        <button type="submit" class="tm-button ">
                                                            <i class="ion-android-cart"></i> Səbətə at
                                                        </button>
                                                    {% endif %}
                                                </form>
                                            </li>
                                            <li>
                                                <form method="post" action="{% url 'wishlist:add_wish' related_product.id %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="quantity" value="1">
                                                    <button type="submit" class="tm-button ">
                                                        <i class="ion-heart"></i></button>
                                                </form>
                                            </li>
                                        </ul>
                                        {% if related_product.is_in_stock < 1 %}
                                            <div class="tm-product-badges">
                                                <span class="tm-product-badges-soldout">Tükənib</span>
                                            </div>
                                        {% endif %}
                                        <div class="tm-product-badges">
                                            {% if related_product.is_new %}
                                                <span class="tm-product-badges-new">Yeni</span>
                                            {% endif %}
                                            {% if related_product.discount > 0 %}
                                                <span class="tm-product-badges-sale">- {{ related_product.discount }} %</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="tm-product-bottomside">
                                        <h6 class="tm-product-title">
                                            <a href="{{ related_product.get_absolute_url }}">{{ related_product.name }}</a>
                                        </h6>
                                        <div class="tm-ratingbox">
                                            {% for i in "12345"|slice:":" %}
                                                <span class="{% if i <= related_product.average_rating|floatformat:0 %}is-active{% endif %}">
                                                    <i class="ion-android-star-outline"></i>
                                                </span>
                                            {% endfor %}
                                        </div>
                                        {% if related_product.discount > 0 %}
                                            <span class="old-price">{{ related_product.price }} ₼</span>
                                            <span class="tm-product-price">{{ related_product.discounted_price }} ₼</span>
                                        {% else %}
                                            <span class="tm-product-price">{{ related_product.price }} ₼</span>
                                        {% endif %}
                                        <div class="tm-product-content">
                                            <p>{{ related_product.description }}</p>
                                            <ul class="tm-product-actions">
                                                <li>
                                                    <form method="post" action="{% url 'cart:cart_add' related_product.id %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="quantity" value="1">
                                                        {% if related_product.is_in_stock < 1 %}
                                                            <button type="submit" disabled class="btn btn-secondary">
                                                                <i class="ion-android-cart"></i> Səbətə at
                                                            </button>
                                                        {% else %}
                                                            <button type="submit" class="tm-button ">
                                                                <i class="ion-android-cart"></i> Səbətə at
                                                            </button>
                                                        {% endif %}
                                                    </form>
                                                </li>
                                                <li>
                                                    <button data-fancybox data-src="#tm-product-quickview">
                                                        <i class="ion-eye"></i>
                                                    </button>
                                                </li>
                                                <li>
                                                    <form method="post" action="{% url 'wishlist:add_wish' related_product.id %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="quantity" value="1">
                                                        <button type="submit" class="tm-button "><i class="ion-heart"></i></button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!--// Single Product -->

                        </div>
                    </div>
                    <!-- Similliar Products -->
                </div>
            </div>
        </div>
    </div>
    <!--// Product Details Wrapper -->

    <script>
        // Получаем контейнер видео
        const videoContainer = document.getElementById("draggable-video");

        if (videoContainer) {
            let isDragging = false;
            let isExpanded = false;
            let offsetX, offsetY;

            // Добавляем кнопку скрытия
            const closeButton = document.createElement("button");
            closeButton.innerHTML = "&times;";
            closeButton.classList.add("close-button");
            videoContainer.appendChild(closeButton);

            // Обработчик начала перетаскивания
            videoContainer.addEventListener("mousedown", (e) => {
                if (e.target === closeButton || isExpanded) return; // Игнорируем клик по кнопке закрытия или при увеличении
                isDragging = true;
                offsetX = e.clientX - videoContainer.offsetLeft;
                offsetY = e.clientY - videoContainer.offsetTop;
                videoContainer.classList.add("dragging");
            });

            // Обработчик перемещения мыши
            document.addEventListener("mousemove", (e) => {
                if (isDragging) {
                    const left = e.clientX - offsetX;
                    const top = e.clientY - offsetY;

                    // Устанавливаем новые координаты контейнера
                    videoContainer.style.left = `${left}px`;
                    videoContainer.style.top = `${top}px`;
                }
            });

            // Обработчик окончания перетаскивания
            document.addEventListener("mouseup", () => {
                if (isDragging) {
                    isDragging = false;
                    videoContainer.classList.remove("dragging");
                }
            });

            // Обработчик клика на видео для увеличения/уменьшения
            videoContainer.addEventListener("click", (e) => {
                if (e.target.tagName === "VIDEO" && !isDragging) {
                    isExpanded = !isExpanded;
                    videoContainer.classList.toggle("expanded", isExpanded);
                }
            });

            // Обработчик кнопки закрытия
            closeButton.addEventListener("click", () => {
                videoContainer.style.display = "none";
            });
        }


    </script>
{% endblock %}