{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ block.super }}: Haqqımızda
{% endblock %}
{% block content %}
    <!-- Breadcrumb Area -->
    <div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="{% static 'assets/images/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="tm-breadcrumb">
                <h2>Haqqımızda</h2>
                <ul>
                    <li><a class="breadcrumb-link" href="{% url 'shop:index' %}">Əsas səhifə</a></li>
                    <li>Haqqımızda</li>
                </ul>
            </div>
        </div>
    </div>
    <!--// Breadcrumb Area -->
    <!-- Aboout Area -->
    <div class="tm-about-area tm-padding-section bg-white">
            <div class="container">
            {% for about in abouts %}
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="tm-about-image">
                            <img src="" alt="about image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="tm-about-content">
                            <h4>{{ about.title }}</h4>
                            <p>{{ about.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!--// Aboout Area -->
{% endblock %}