{% load static %}
<div class="tm-footer">

    <!-- Instagram Photos -->
    <ul id="instafeed" class="tm-instaphotos"></ul>
    <!--// Instagram Photos -->

    <!-- Footer Top Area -->
    <div class="tm-footer-toparea tm-padding-section">
        <div class="container">
            <div class="widgets widgets-footer row">

                <!-- Single Widget -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-info">
                        <a class="widget-info-logo" href="{% url 'shop:index' %}">
                            <img src="{% static 'assets/images/Logo.svg' %}" width="400" alt="logo"></a>

                        <ul>
                            <li><b>Ünvan :</b>{{ address }}</li>
                            <li><b>Telefon :</b><a href="tel:+994{{ global_phone }}">{{ global_phone }}</a></li>
                            <li><b>E-poçt :</b><a href="mailto:{{ global_email }}">{{ global_email }}</a></li>
                        </ul>
                    </div>
                </div>
                <!--// Single Widget -->

                <!-- Single Widget -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-quicklinks">
                        <h6 class="widget-title">Faydalı keçidlər</h6>
                        <ul>
                            <li><a href="{% url 'about:about' %}">Haqqımızda</a></li>
                            <li><a href="{% url 'parameters:delivery_information' %}">Çatdırılma məlumatı</a></li>
                            <li><a href="{% url 'parameters:privacy_policy' %}">Məxfilik və Siyasət</a></li>
                            <li><a href="{% url 'parameters:returns_and_refunds' %}">Qaytarmalar və Geri Ödənişlər</a></li>
                            <li><a href="{% url 'parameters:terms_and_conditions' %}">Qaydalar və Şərtlər</a></li>
                            <li><a href="{% url 'shop:contact' %}">Bizimlə Əlaqə</a></li>
                        </ul>
                    </div>
                </div>
                <!--// Single Widget -->

                <!-- Single Widget -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-quicklinks">
                        <h6 class="widget-title">Hesabım</h6>
                        <ul>
                            <li><a href="{% url 'account:profile' %}">Hesabım</a></li>
                            <li><a href="{% url 'cart:cart_detail' %}">Səbət</a></li>
                            <li><a href="{% url 'wishlist:wishlist_detail' %}">İstək siyahısı</a></li>
                            <li><a href="#">Tez-tez verilən suallar</a></li>
                        </ul>
                    </div>
                </div>
                <!--// Single Widget -->

                <!-- Single Widget -->
                {% comment %}

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-newsletter">
                        <h6 class="widget-title">Join Our Newsletter</h6>
                        <p>Get Business news, tip and solutions to
                            your problems from our experts.</p>
                        <form id="tm-mailchimp-form" class="widget-newsletter-form">
                            <input id="mc-email" type="text" placeholder="Enter email address">
                            <button id="mc-submit" type="submit" class="tm-button">Subscribe Now
                                <b></b></button>
                        </form>
                        <!-- Mailchimp Alerts -->
                        <div class="tm-mailchimp-alerts">
                            <div class="tm-mailchimp-submitting"></div>
                            <div class="mailchimp-success"></div>
                            <div class="tm-mailchimp-error"></div>
                        </div>
                        <!--// Mailchimp Alerts -->
                    </div>
                </div>
                {% endcomment %}
                <!--// Single Widget -->

            </div>
        </div>
    </div>
    <!--// Footer Top Area -->

    <!-- Footer Bottom Area -->
    <div class="tm-footer-bottomarea">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <p class="tm-footer-copyright">&copy; {% now "Y" %} Bütün hüquqlar qorunur. by <a target="_blank" href="https://ertech.az/ru/">ERtech Groop</a></p>
                </div>
                <div class="col-md-5">
                    <div class="tm-footer-payment">
                        <img src="{% static 'assets/images/payment-methods.png' %}" alt="payment methods">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Footer Bottom Area -->

</div>