{% load static %}
<div class="tm-header tm-header-sticky">

    <!-- Header Top Area -->
    <div class="tm-header-toparea bg-black">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-12">
                    <ul class="tm-header-info">
                        <li><a href="tel:18883456789"><i class="ion-ios-telephone"></i>1-888-345-6789</a></li>
                        <li><a href="mailto:contact@example.com"><i class="ion-android-mail"></i>contact@example.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="tm-header-options">
                        <div class="tm-dropdown tm-header-links">
                            <button>Hesabım</button>
                            <ul>
                                {% if not user.is_authenticated %}
                                <li><a href="{% url 'account:login' %}">Giriş</a></li>
                                <li><a href="{% url 'account:registration' %}">Qeydiyyat</a></li>
                                    {% else %}
                                <li><a href="{% url 'account:profile' %}">Hesabım</a></li>
                                <li><a href="{% url 'cart:cart_detail' %}">Alış-veriş Səbəti</a></li>
                                <li><a href="wishlist.html">İstək siyahısı</a></li>
                                <li><a href="{% url 'account:logout' %}">Təhlükəsiz çıxış</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="tm-dropdown tm-header-currency">
                            <button>USD</button>
                            <ul>
                                <li><a href="#">USD</a></li>
                                <li><a href="#">EUR</a></li>
                                <li><a href="#">JPY</a></li>
                                <li><a href="#">GBP</a></li>
                            </ul>
                        </div>
                        <div class="tm-dropdown tm-header-language">
                            <button><img src="{% static 'assets/images/flag-english.png' %}" alt="language">English</button>
                            <ul>
                                <li><a href="#"><img src="{% static 'assets/images/flag-english.png' %}"
                                                     alt="language">English</a></li>
                                <li><a href="#"><img src="{% static 'assets/images/flag-spain.png' %}"
                                                     alt="language">Spanish</a></li>
                                <li><a href="#"><img src="{% static 'assets/images/flag-russian.png' %}"
                                                     alt="language">Russian</a></li>
                                <li><a href="#"><img src="{% static 'assets/images/flag-french.png' %}"
                                                     alt="language">French</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Header Top Area -->

    <!-- Header Middle Area -->
    <div class="tm-header-middlearea bg-white">
        <div class="container">
            <div class="tm-mobilenav"></div>
            <div class="row align-items-center">
                <div class="col-lg-3 col-6 order-1 order-lg-1">
                    <a href="{% url 'shop:index' %}" class="tm-header-logo">
                        <img src="{% static 'assets/images/logo.png' %}" alt="surose">
                    </a>
                </div>
                <div class="col-lg-6 col-12 order-3 order-lg-2">
                    <form class="tm-header-search">
                        <input type="text" placeholder="Məhsul axtarın...">
                        <button><i class="ion-android-search"></i></button>
                    </form>
                </div>
                <div class="col-lg-3 col-6 order-2 order-lg-3">
                    <ul class="tm-header-icons">
                        <li>
                            <a href="{% url 'wishlist:wishlist_detail' %}">
                            <i class="ion-android-favorite-outline"></i>
                                {% if wishlist|length > 0 %}
                                    <span>{{ wishlist|length }}</span>
                                    {% else %}
                                    <span>0</span>
                                {% endif %}
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'cart:cart_detail' %}">
                            <i class="ion-bag"></i>
                            {% with total_items=cart|length %}
                                {% if total_items > 0 %}
                                	<span>{{ total_items }}</span>
                                    {% else %}
                                    <span>0</span>
                                {% endif %}
                            {% endwith %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--// Header Middle Area -->

    <!-- Header Bottom Area -->
    <div class="tm-header-bottomarea bg-white">
        <div class="container">
            <nav class="tm-header-nav">
                <ul>
                    <li><a href="{% url 'shop:index' %}">Əsas səhifə</a></li>
                    <li><a href="about.html">Haqqımızda</a></li>
                    <li><a href="{% url 'shop:products' %}">Məhsullar</a></li>
                    <li><a href="contact.html">Əlaqə</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--// Header Bottom Area -->

</div>