{% load static %}
<div class="tm-heroslider-area bg-grey">
    <div class="tm-heroslider-slider">

        <!-- Heroslider Item -->
        <div class="tm-heroslider" data-bgimage="{% static 'assets/images/heoslider-image-1.jpg' %}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-8 col-12">
                        <div class="tm-heroslider-contentwrapper">
                            <div class="tm-heroslider-content">
                                <h1>Woman’s Jewellery Collection</h1>
                                <p>Jewellery may be made from a wide range of materials. Jewellery has been
                                    made to adorn nearly every body part from hairpins to toe.</p>
                                <a href="products.html" class="tm-button">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Heroslider Item -->

        <!-- Heroslider Item -->
        <div class="tm-heroslider" data-bgimage="{% static 'assets/images/heoslider-image-2.jpg' %}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-8 col-12">
                        <div class="tm-heroslider-contentwrapper">
                            <div class="tm-heroslider-content">
                                <h1>Woman’s Jewellery Collection</h1>
                                <p>Jewellery may be made from a wide range of materials. Jewellery has been
                                    made to adorn nearly every body part from hairpins to toe.</p>
                                <a href="products.html" class="tm-button">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Heroslider Item -->

    </div>
</div>