{% load static %}
{% load cache %}
<div class="tm-heroslider-area bg-grey">
    <div class="tm-heroslider-slider">
        <!-- Heroslider Item -->
            {% cache 43200 sliders %}
            {% for slider in sliders %}
                <div class="tm-heroslider" data-bgimage="{{ slider.image.url }}">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-8 col-12">
                                <div class="tm-heroslider-contentwrapper">
                                    <div class="tm-heroslider-content">
                                        <h1>{{ slider.title }}</h1>
                                        <p>{{ slider.description }}</p>
                                        {% if slider.product %}
                                            <a href="{{ slider.product.get_absolute_url }}" class="tm-button">Sifariş edin</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endcache %}
        <!--// Heroslider Item -->
    </div>
</div>