{% load static %}
<div class="slideshow">
                <div class="tiva-slideshow-wrapper">
                    <div id="tiva-slideshow" class="nivoSlider">
                        <a href="#" title="Slideshow image">
                            <img class="img-responsive" src="{% static 'assets/img/home/home3-banner.jpg' %}" title="#caption1" alt="Slideshowimage">
                        </a>
                        <a href="#" title="Slideshow image">
                            <img class="img-responsive" src="{% static 'assets/img/home/home3-banner2.jpg' %}" title="#caption2" alt="Slideshowimage">
                        </a>
                        <a href="#" title="Slideshow image">
                            <img class="img-responsive" src="{% static 'assets/img/home/home3-banner3.jpg' %}" title="#caption3" alt="Slideshowimage">
                        </a>
                    </div>
                    <div id="caption1" class="nivo-html-caption">
                        <div class="tiva-caption">
                            <div class="left-right hidden-xs">
                                <p class="caption-1">
									Modern <span>Designer</span> Chair
								</p>
                            </div>
                        </div>
                    </div>
                    <div id="caption2" class="nivo-html-caption caption">
                        <div class="tiva-caption">
                            <div class="left-right hidden-xs">
                                <p class="caption-2">
                                    <span class="text-1">Creative</span>
                                    <span class="text-2">Furniture</span>
                                    <span class="text-3">Design</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="caption3" class="nivo-html-caption caption">
                        <div class="left-right hidden-xs">
                            <div class="tiva-caption">
                                <p class="caption-3">
                                    <span class="text-1">Creative</span>
                                    <span class="text-2">Furniture</span>
                                    <span class="text-3">Design</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>